#yaml-language-server: $schema=http://frigate_host:5000/api/config/schema.json


#    Starkhome Frigate NVR Test Instance
#    config.yml  for MCP LXC install
#    PRE coral, iGPU, network shares
#    POST 1.2 upgrade with go2rtc
#    2023-06-27b
#

mqtt:
  host: 192.168.5.119
  user: mqtt
  password: REDACTED

detectors:
# UNCOMMENT ME ONCE THE CORAL IS INSTALLED.
#  coral:
#    type: edgetpu
#    device: pci

# POSSIBLY REMOVE ME ONCE THE CORAL IS INSTALLED.  
  cpu1:
    type: cpu
    num_threads: 2

#UNCOMMENT ME ONCE WE FIGURE OUT HOW TO PASS THROUGH THE iGPU 
#ffmpeg:
#  hwaccel_args: 
#    -hwaccel qsv
#    -hwaccel_device /dev/dri/renderD128
#    -hwaccel_output_format yuv420p

objects:
  track:
    - person
    - cat
    - car


record:
  enabled: True
  retain:
    days: 2
    mode: motion
  events:
    retain:
      default: 10
      mode: active_objects

go2rtc:
  streams:
    kidscam:
    - rtsp://REDACTED:REDACTED@192.168.5.221:554/img/media.sav?channel=1
    kidscam-sub:
    - rtsp://REDACTED:REDACTED@192.168.5.221:554/img/media.sav?channel=2
    garageleftcam:
    - rtsp://REDACTED:REDACTED@192.168.5.224:554/img/media.sav?channel=1
    garageleftcam-sub:
    - rtsp://REDACTED:REDACTED@192.168.5.224:554/img/media.sav?channel=2
    kitchencam: 
    - http_mjpeg:http://REDACTED:REDACTED@192.168.5.229/media/?action=stream
    - "ffmpeg:kitchencam#video=h264"

#timestamp_style:
#  position: "br"
#  color:
#    red: 030
#    green: 255
#    blue: 030
#  thickness: 3

cameras:
  kidscam:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/kidscam
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/kidscam-sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    detect:                 
      width: 640
      height: 480
      fps: 5

  garageleftcam:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/garageleftcam
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/garageleftcam-sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    detect:
      width: 1280
      height: 720
      fps: 10

  kitchencam:
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/kitchencam
          input_args: preset-rtsp-restream
          roles:
            - detect
            - record
    detect:
      width: 1280
      height: 720

# frontcam:
#    ffmpeg:
#      inputs:
#        - path: rtsp://REDACTED:REDACTED@192.168.5.228:554/img/media.sav?channel=2
#          roles:
#            - detect
#        - path: rtsp://REDACTED:REDACTED@192.168.5.228:554/img/media.sav?channel=1
#          roles:
#            - record
#    detect:
#      width: 640
#      height: 480
#      fps: 5

#  frontwalkcam:
#    ffmpeg:
#      inputs:
#        - path: rtsp://REDACTED:REDACTED@192.168.5.220:554/img/media.sav?channel=2
#          roles:
#            - detect
#        - path: rtsp://REDACTED:REDACTED@192.168.5.220:554/img/media.sav?channel=1
#          roles:
#            - record
#    detect:
#      width: 640
#      height: 480
#      fps: 5

